@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700&display=swap&subset=cyrillic');

* {
  /*outline: 1px solid lightgreen;*/
}

body {
  margin: 0;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

/*---HEADER---*/

.header {
  display: flex;
  min-height: 80px;
  margin-bottom: 140px;
  color: #ffffff;
}

.header__container {
  display: flex;
  align-items: flex-end;
}

.header__title {
  margin: 0 auto 0 0;
  width: 170px;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}

.header__logo {
  display: flex;
  margin-right: 60px;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}

.header__icon-logo {
  margin-right: 10px;
}

.header__lang {
  display: flex;
  justify-content: space-between;
  min-width: 50px;
  margin-right: 160px;
  margin-bottom: 10px;
}

.header__lang a {
  text-decoration: none;
}

.header__ru {
  color: #ffffff;
}

.header__en {
  color: #6a6f87;
}

.header__lang b {
  border: 1px solid #6a6f87;
}

.header__login a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.header__around {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #b3a4ff;
  border-radius: 50%;
  background-color: #b3a4ff;
  background-clip: content-box;
}

/*---LANDING---*/

.landing {
  position: relative;
  margin-bottom: 200px;
  color: #ffffff;
}

.landing__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.landing__pointer {
  width: 100%;
  text-align: right;
}

.landing__pointer span {
  position: relative;
  display: inline-block;
  transform: rotate(-90deg);
  opacity: 0.5;
}
.landing__pointer span::before {
  content: '';
  position: absolute;
  top: 9px;
  right: -48px;
  height: 1px;
  width: 30px;
  border: none;
  opacity: 0.5;
  background-color: #fff;
}


/*---BACKGROUND VIDEO---*/

.background_video {
  z-index: -100;
  position: absolute;
  top: -220px;
  left: -25%;
  background-color: #1e183e;

}

/*---OBJECTIVE---*/

.objective {
  display: flex;
  flex-direction: column;
  width: 430px;
}

.objective__title {
  width: 340px;
  font-size: 42px;
  font-weight: normal;
  line-height: 48px;
  color: #B3A4FF;
  margin: 0 0 43px 0;
}

.objective__paragraph {
  font-size: 16px;
  line-height: 160%;
  margin: 0;
}

.objective__container {
  margin-bottom: 205px;
}

.objective > .objective__paragraph {
  margin-bottom: 50px;
}

.objective__container > .objective__paragraph {
  margin-bottom: 25px;
}

.objective__services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
}

.objective__services a {
  display: flex;
  align-items: center;
  min-height: 35px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.objective__services a:nth-child(3n) {
  margin-right: 0;
}

.objective__icon {
  fill: #ffffff;
  opacity: 0.7;
}

.objective__icon:hover {
  opacity: 1;
}

.objective__others-services {
  line-height: 130%;
  color: #aebbe8;
}

/*---PARAMETERS---*/

.parameters {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 610px;
  border: 1px solid #514a70;
}

.parameters__up_block {
  border-bottom: 1px solid #514a70;
  padding: 40px 47px;
}

.parameters__down_block {
  padding: 40px 47px;
}

.parameters__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.parameters__paragraph {
  margin: 0;
}

.parameters__paragraph span {
  color: #999999;
}

.parameters__link {
  color: #ffffff;
  opacity: 0.6;
}

.parameters__form {
  display: flex;
  flex-wrap: wrap;
}

.parameters__form-title {
  margin-bottom: 10px;
  font-size: 12px;
  opacity: 0.7;
}

.parameters__form label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px;
  margin-right: 30px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.parameters__form label:nth-child(3n) {
  margin-right: 0;
}

.parameters__form .parameters__last-label {
  width: 330px;
  margin-right: 0;
}

.parameters__form select,
.parameters__form input {
  height: 28px;
  background: transparent;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.parameters__up_block > .parameters__title {
  margin-bottom: 33px;
}

.parameters__down_block {
  display: flex;
  flex-direction: column;
}

.parameters__up_line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.parameters__up_line .parameters__link {
  opacity: 1;
}


.parameters__down_line {
  display: flex;
  align-items: center;
}
.parameters__price {
  display: flex;
  flex-direction: column;
}

.parameters__price span:first-child {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
}

.parameters__price span:last-child {
  margin-right: 75px;
  font-size: 12px;
  line-height: 130%;
  opacity: 0.7;
}

.parameters__sending {
  position: relative;
  width: 145px;
  height: 57px;
  margin-right: 30px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

.parameters__sending::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 145px;
  height: 57px;
  background: linear-gradient(90deg, #7E64FE -5.17%, rgba(126, 100, 254, 0) 123.22%);
}

.parameters__down_line .parameters__paragraph {
  width: 215px;
  font-size: 12px;
}

/*---SELECT2---*/

.select2-container {
  font-size: 16px;
  width: 150px;
  border: none;
}

.select2-container .select2-selection--single {
  width: 150px;
  height: 28px;
  background: transparent;
  border: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  color: #ffffff;
  width: 150px;
  padding-left: 0;
  padding-right: 0;
}

.select2-dropdown {
  margin-top: 5px;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
}

.select2-results__option {
  padding: 6px;
  border-radius: 15px;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.select2-search--dropdown {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  background: url('../img/sprite.svg#icon-check') no-repeat;
  border: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url('../img/sprite.svg#icon-check') no-repeat;
  transform: rotate(180deg);
  margin-left: -5px;
  margin-top: -7px;
  border: none;
}

/*---CHOICE---*/

.choice {
  margin-bottom: 90px;
}

.choice__container {
  display: flex;
  border: 1px solid #E7E7E7;
}

.choice__image {
  margin-right: 55px;
}

.choice__right_block {
  margin-top: 50px;
}

.choice__title {
  margin: 0 0 10px 0;
  font-size: 32px;
  color: #221B44;
}

.choice__paragraph {
  margin: 0 0 50px 0;
  font-size: 16px;
  color: #221B44;
  opacity: 0.7;
}

.choice__form {
  display: flex;
}

.choice__form-title {
  margin-bottom: 10px;
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
}

.choice__form label {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-right: 30px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  border-bottom: 1px solid #CCCCCC;
}

.choice__form input {
  height: 28px;
  background: transparent;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #999999;
}

.choice__sending {
  position: relative;
  width: 145px;
  height: 57px;
  margin-right: 30px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

.choice__sending::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 145px;
  height: 57px;
  background: linear-gradient(90deg, #7E64FE 0%, #4F4195 128.4%);
}

/*---USING---*/

.using {
  margin-bottom: 90px;
}

.using__container {
  display: flex;
  flex-direction: column;
  color: #221B44;
}

.using__down_block {
  display: flex;
  justify-content: space-between;
}

.using__item {
  display: flex;
  box-sizing: border-box;
  width: 340px;
}

.using__icon {
  flex-shrink: 0;
  margin-right: 25px;
}

.using__title {
  margin: 0 0 55px 0;
  font-size: 32px;
}

.using__content p:first-child {
  margin: 0 0 21px 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.using__content p:last-child {
  margin: 0;
  font-size: 16px;
  opacity: 0.7;
}

/*---ADVANTAGE---*/

.advantage__table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #221B44;
}

.advantage__item {
  position: relative;
  width: 380px;
  height: 215px;
  border: 1px solid #E7E7E7;
  vertical-align: middle;
  text-align: center;
}

.advantage__item:not(.advantage__last_item):hover {
  background-color: #7E64FE;
}

.advantage__item:hover .advantage__paragraph {
  color: #ffffff;
}

.advantage__item_number {
  position: absolute;
  top: 23px;
  left: 37px;
  font-size: 40px;
  opacity: 0.05;
}

.advantage__paragraph {
  font-size: 16px;
  line-height: 130%;
}

.advantage__title {
  display: inline;
  margin-right: 40px;
  font-size: 26px;
}

.advantage__link {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 57px;
  margin-right: 30px;
  text-align: center;
  line-height: 57px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

.advantage__link::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 230px;
  height: 57px;
  background: linear-gradient(90deg, #7E64FE 0%, #4F4195 128.4%);
}

/*--WHOLESALE---*/

.wholesale {
  background: #221B44 url(../img/background_wholesale.png) center top no-repeat;
  background-size: 100% 100%;
}

.wholesale__container {
  display: flex;
  flex-direction: column;
}

.wholesale__up_block {
  display: flex;
  margin-bottom: 45px;
}

.wholesale__discount {
  position: relative;
  margin: 60px 85px 0 0;
  font-weight: bold;
  font-size: 132px;
  color: #7E64FE;
  text-shadow: 1px 7px 20px rgba(114, 85, 255, 0.3);
}

.wholesale__discount span {
  position: absolute;
  top: 40px;
  left: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.6;
  text-shadow: none;
}

.wholesale__up_right_block {
  width: 615px;
  margin-top: 90px;
}
.wholesale__title {
  margin: 0 0 20px 0;
  font-size: 32px;
  color: #ffffff;
}

.wholesale__up_block .wholesale__paragraph {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}

.wholesale__down_block {
  display: flex;
  z-index: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.wholesale__down_left_block {
  padding: 50px 47px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.wholesale__down_right_block {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 0 50px 43px;
}

.wholesale__form {
  display: flex;
  flex-direction: column;
}

.wholesale__form div {
  display: flex;
  width: 480px;
}

.wholesale__form div:not(:last-child) {
  margin-bottom: 30px;
}


.wholesale__form-title {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.7;
}

.wholesale__form_up_block .wholesale__form-title {
  margin-right: 30px;
  align-self: center;
}

.wholesale__form_down_block .wholesale__form-title {
  margin-bottom: 10px;
}

.wholesale__radio {
  display: none;
}

.wholesale__radio_label {
  padding: 5px 13px 6px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  color: #ffffff;
}

.wholesale__radio_label:not(:last-child) {
  margin-right: 20px;
}

.wholesale__radio:checked + .wholesale__radio_label {
 background-color: #7E64FE;
 border: none;
}

.wholesale__select_label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px;
  margin-right: 30px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.wholesale__select_label:last-child {
  margin-right: 0;
  flex-grow: 1;
}


.wholesale__form select {
  height: 28px;
  background: transparent;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.wholesale__sending {
  position: relative;
  flex-shrink: 0;
  width: 225px;
  height: 57px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 57px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

.wholesale__sending::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 225px;
  height: 57px;
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

.wholesale__price {
  display: flex;
  align-items: center;
  margin: 6px 53px 0 0;
}

.wholesale__price p:first-child {
  margin: 0 28px 0 0;
  font-size: 20px;
  text-decoration-line: line-through;
  color: #ffffff;
  opacity: 0.6;
}

.wholesale__price p:last-child {
  margin: 0;
  font-size: 32px;
  color: #ffffff;
}

.wholesale__down_block .wholesale__paragraph {
  margin: 0;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
}

.wholesale__link {
  color: #ffffff;
}

