@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700&display=swap&subset=cyrillic');

body {
  margin: 0;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width:1190px) {
  .wrapper {
    width: 720px;
  }
}

@media (max-width:750px) {
  .wrapper {
    width: 290px;
  }
}

/*---HEADER---*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
  color: #ffffff;
}

@media (max-width:1190px) {
  .header {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 36px;
}

@media (max-width:1190px) {
  .header__container {
    width: 100%;
    margin: 0 25px;
    padding-top: 22px;
  }
}

@media (max-width:750px) {
  .header__container {
    padding-top: 10px;
  }
}

.header__title {
  margin: 0 auto 0 0;
  width: 170px;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}

@media (max-width:750px) {
  .header__title {
    display: none;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width:750px) {
  .header__logo {
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
  }
  .header__logo span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__icon-logo {
  margin-right: 10px;
  fill: #B3A4FF;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 50px;
  margin-right: 160px;
  margin-bottom: 10px;
}

@media (max-width:1190px) {
  .header__lang {
    margin-right: 50px;
  }
}

@media (max-width:750px) {
  .header__lang {
    margin: 0 70px 15px 15px;
  }
}

.header__lang a {
  text-decoration: none;
}

.header__ru {
  color: #ffffff;
}

.header__en {
  color: #6a6f87;
}

.header__lang b {
  border: 1px solid #6a6f87;
}

.header__login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width:750px) {
  .header__login {
    margin-bottom: 10px;
  }
  .header__login a span{
    display: none;
  }
}

.header__around {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #b3a4ff;
  border-radius: 50%;
  background-color: #b3a4ff;
  background-clip: content-box;
}

@media (max-width:750px) {
  .header__around {
    display: none;
  }
}

.header__login_icon {
  display: none;
}

@media (max-width:750px) {
  .header__login_icon {
    display: inline-block;
    fill: #B3A4FF;
  }
}

/*---MAIN---*/

/*---LANDING---*/

.landing {
  position: relative;
  margin-bottom: 200px;
  color: #ffffff;
}

@media (max-width:1190px) {
  .landing {
    z-index: 0;
    background: #201847 url(../img/background_landing_tablet.png) center top no-repeat;
    background-size: cover;
    margin-top: -56px;
    margin-bottom: 50px;
    padding-top: 156px;
  }
}

@media (max-width:750px) {
  .landing {
    padding-top: 110px;
    background: #201847 url(../img/background_landing_mobile.png) center top no-repeat;
    background-size: cover;
  }
}

.landing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width:1190px) {
  .landing__container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 65px;
  }
}

@media (max-width:750px) {
  .landing__container {
    padding-left: 0;
  }
}

.landing__mobile_title {
  display: none;
}

@media (max-width:750px) {
  .landing__mobile_title {
    display: block;
    width: 172px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 140%;
  }
}

.landing__pointer {
  width: 100%;
  text-align: right;
}

@media (max-width:1190px) {
  .landing__pointer {
    display: none;
  }
}

.landing__pointer span {
  position: relative;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.5;
}
.landing__pointer span::before {
  content: '';
  position: absolute;
  top: 9px;
  right: -48px;
  height: 1px;
  width: 30px;
  border: none;
  opacity: 0.5;
  background-color: #fff;
}

.landing__applicable > .objective__paragraph {
  margin-bottom: 25px;
}

@media (max-width:750px) {
  .landing__applicable > .objective__paragraph {
    font-size: 14px;
  }
}

.landing__applicable {
  display: none;
}

@media (max-width:1190px) {
  .landing__applicable {
    display: block;
    margin-bottom: 87px;
  }
}

@media (max-width:750px) {
  .landing__applicable {
    margin-bottom: 40px;
  }
}


/*---BACKGROUND VIDEO---*/

* {
  /*outline: 1px solid red;*/
}

html {
  overflow-x: hidden;
}

.background_video_container{
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: #1f183e;
}

@media (max-width:1190px) {
  .background_video_container {
    display: none;
  }
}

.background_video {
  z-index: -99;
  overflow: hidden;
  position: relative;
  /*width: 100%;*/
  min-height: 100vh;
  top: 0;
  left: -25%;
  background-color: #1e183e;
}

@media (max-width:1190px) {
  .background_video {
    display: none;
  }
}

/*---OBJECTIVE---*/

.objective {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
}

.objective__title {
  width: 340px;
  font-size: 42px;
  font-weight: normal;
  line-height: 48px;
  color: #B3A4FF;
  margin: 0 0 43px 0;
}

@media (max-width:1190px) {
  .objective__title {
    margin: 0 0 38px 0;
  }
}

@media (max-width:750px) {
  .objective__title {
    width: auto;
    margin: 0 0 20px 0;
    font-size: 36px;
  }
}

.objective__paragraph {
  font-size: 16px;
  line-height: 160%;
  margin: 0;
}

@media (max-width:750px) {
  .objective__paragraph {
    width: 244px;
  }
}

.objective__applicable {
  margin-bottom: 205px;
}

@media (max-width:1190px) {
  .objective__applicable {
    display: none;
  }
}

.objective > .objective__paragraph {
  margin-bottom: 50px;
}

@media (max-width:750px) {
  .objective > .objective__paragraph {
    margin-bottom: 40px;
  }
}

.objective__applicable > .objective__paragraph {
  margin-bottom: 25px;
}

.objective__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 350px;
}

.objective__services a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.objective__services a:nth-child(3n) {
  margin-right: 0;
}

.objective__icon {
  fill: #ffffff;
  opacity: 0.7;
}

.objective__icon:hover {
  opacity: 1;
}

@media (max-width:750px) {
  .objective__icon_instagram {
    width: 100px;
    height: 22px;
  }
  .objective__icon_mail {
    width: 58px;
    height: 17px;
  }
  .objective__icon_facebook {
    width: 77px;
    height: 15px;
  }
  .objective__icon_tooligram {
    width: 103px;
    height: 28px;
  }
  .objective__icon_yandex {
    width: 58px;
    height: 23px;
  }
  .objective__icon_google {
    width: 66px;
    height: 21px;
  }
}

.objective__others-services {
  line-height: 130%;
  color: #aebbe8;
}

/*---PARAMETERS---*/

.parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 610px;
  border: 1px solid #514a70;
}

@media (max-width:1190px) {
  .parameters {
    margin-bottom: 50px;
  }
}

@media (max-width:750px) {
  .parameters {
    width: 320px;
    margin-left: -15px;
    margin-bottom: 25px;
  }
}

.parameters__up_block {
  border-bottom: 1px solid #514a70;
  padding: 40px 47px;
}

@media (max-width:750px) {
  .parameters__up_block {
    padding: 35px 15px 45px;
  }
}

.parameters__down_block {
  padding: 40px 0 53px 47px;
}

@media (max-width:750px) {
  .parameters__down_block {
    padding: 35px 15px 40px;
  }
}

.parameters__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.parameters__paragraph {
  margin: 0;
}

.parameters__paragraph span {
  color: #999999;
}

.parameters__link {
  color: #ffffff;
  opacity: 0.6;
}

.parameters__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parameters__form-title {
  margin-bottom: 10px;
  font-size: 12px;
  opacity: 0.7;
}

.parameters__form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 150px;
  margin-right: 30px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.parameters__form label:nth-child(3n) {
  margin-right: 0;
}

@media (max-width:1190px) {
  .parameters__form label {
    width: 146px;
  }
}

@media (max-width:750px) {
  .parameters__form label {
    width: 130px;
    margin-right: 28px;
  }
  .parameters__form label:nth-child(2n) {
    margin-right: 0;
  }
  .parameters__form label:nth-child(3n) {
    margin-right: 28px;
  }
}

.parameters__form .parameters__last-label {
  width: 330px;
  margin-right: 0;
}

@media (max-width:1190px) {
  .parameters__form .parameters__last-label {
    width: 322px;
  }
}

.parameters__form select,
.parameters__form input {
  height: 28px;
  background: transparent;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.parameters__up_block > .parameters__title {
  margin-bottom: 33px;
}

@media (max-width:750px) {
  .parameters__up_block > .parameters__title {
    width: 190px;
  }
}

.parameters__down_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parameters__up_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width:1190px) {
  .parameters__up_line {
    margin-bottom: 30px;
  }
}

.parameters__up_line .parameters__link {
  opacity: 1;
  margin-right: 53px;
}

@media (max-width:750px) {
  .parameters__up_line .parameters__link {
    margin-right: 0;
  }
}

.parameters__up_line .parameters__link_mobile {
  display: none;
}

@media (max-width:750px) {
  .parameters__up_line .parameters__link_mobile {
    display: inline;
  }
  .parameters__up_line .parameters__link_tablet {
    display: none;
  }
}

.parameters__down_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width:750px) {
  .parameters__down_line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.parameters__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 75px;
}

@media (max-width:1190px) {
  .parameters__price {
    margin-right: 70px;
  }
}

@media (max-width:750px) {
  .parameters__price {
    margin-right: auto;
  }
}

.parameters__price span:first-child {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
}

.parameters__price span:last-child {
  font-size: 12px;
  line-height: 130%;
  opacity: 0.7;
}

.parameters__sending {
  position: relative;
  width: 145px;
  height: 57px;
  margin-right: 30px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, rgba(126, 100, 254, 0)));
  background: -webkit-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

@media (max-width:750px) {
  .parameters__sending {
    width: 163px;
    margin: 0;
  }
  .parameters__sending + .parameters__paragraph {
    margin-top: 30px;
  }
}

.parameters__sending::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 145px;
  height: 57px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-5.17%, #7E64FE), color-stop(123.22%, rgba(126, 100, 254, 0)));
  background: -webkit-linear-gradient(left, #7E64FE -5.17%, rgba(126, 100, 254, 0) 123.22%);
  background: -o-linear-gradient(left, #7E64FE -5.17%, rgba(126, 100, 254, 0) 123.22%);
  background: linear-gradient(90deg, #7E64FE -5.17%, rgba(126, 100, 254, 0) 123.22%);
}

@media (max-width:750px) {
  .parameters__sending::after {
    width: 163px;
  }
}

.parameters__down_line .parameters__paragraph {
  width: 215px;
  font-size: 12px;
}

/*---SELECT2---*/

.select2-container {
  font-size: 16px;
  width: 150px;
  border: none;
}

@media (max-width:750px) {
  .select2-container {
    width: 130px;
  }
}

.select2-container .select2-selection--single {
  width: 150px;
  height: 28px;
  background: transparent;
  border: none;
}

@media (max-width:750px) {
  .select2-container .select2-selection--single {
    width: 130px;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  color: #ffffff;
  width: 150px;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width:750px) {
  .select2-container .select2-selection--single .select2-selection__rendered {
    width: 130px;
  }
}

.select2-dropdown {
  margin-top: 5px;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
}

.select2-results__option {
  padding: 6px;
  border-radius: 15px;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.select2-search--dropdown {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 2px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  height: 5px;
  width: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  background: url('../img/sprite.svg#icon-check') no-repeat;
  border: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url('../img/sprite.svg#icon-check') no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: -5px;
  margin-top: -3px;
  border: none;
}

/*---CHOICE---*/

.choice {
  margin-bottom: 90px;
}

@media (max-width:1190px) {
  .choice {
    margin-bottom: 50px;
  }
}

.choice__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E7E7E7;
}

@media (max-width:1190px) {
  .choice__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.choice__picture {
  width: 505px;
  height: 285px;
  margin-right: 55px;
}

@media (max-width:1190px) {
  .choice__picture {
    width: 720px;
    height: 192px;
  }
}

.choice__right_block {
  margin-top: 50px;
}

@media (max-width:1190px) {
  .choice__right_block {
    margin-top: 45px;
    padding-left: 60px;
  }
}

@media (max-width:750px) {
  .choice__right_block {
    margin-top: 25px;
    padding: 0 22px;
  }
}

.choice__title {
  margin: 0 0 10px 0;
  font-size: 32px;
  color: #221B44;
}

@media (max-width:1190px) {
  .choice__title {
    margin-bottom: 15px;
    font-size: 28px;
  }
}

@media (max-width:750px) {
  .choice__title {
    margin-bottom: 20px;
  }
}

.choice__paragraph {
  margin: 0 0 50px 0;
  font-size: 16px;
  color: #221B44;
  opacity: 0.7;
}

.choice__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width:1190px) {
  .choice__form {
    margin-bottom: 40px;
  }
}

@media (max-width:750px) {
  .choice__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 52px;
  }
}

.choice__form-title {
  margin-bottom: 10px;
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
}

.choice__form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  margin-right: 30px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  border-bottom: 1px solid #CCCCCC;
}

@media (max-width:1190px) {
  .choice__form label {
    margin-right: 40px;
  }
}

@media (max-width:750px) {
  .choice__form label {
    width: 245px;
  }
}

.choice__form input {
  height: 28px;
  background: transparent;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #999999;
}

.choice__sending {
  position: relative;
  width: 145px;
  height: 57px;
  margin-right: 30px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, rgba(126, 100, 254, 0)));
  background: -webkit-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

@media (max-width:1190px) {
  .choice__sending {
    width: 220px;
  }
}

@media (max-width:750px) {
  .choice__sending {
    width: 236px;
  }
}

.choice__sending::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 145px;
  height: 57px;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, #4F4195));
  background: -webkit-linear-gradient(left, #7E64FE 0%, #4F4195 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, #4F4195 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, #4F4195 128.4%);
}

@media (max-width:1190px) {
  .choice__sending::after {
    width: 220px;
  }
}

@media (max-width:750px) {
  .choice__sending::after {
    width: 236px;
  }
}

/*---USING---*/

.using {
  margin-bottom: 90px;
}

@media (max-width:1190px) {
  .using {
    margin-bottom: 70px;
  }
}

.using__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #221B44;
}

.using__down_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width:1190px) {
  .using__down_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.using__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 340px;
}

@media (max-width:1190px) {
  .using__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.using__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 25px;
}

.using__title {
  margin: 0 0 55px 0;
  font-size: 32px;
}

@media (max-width:1190px) {
  .using__title {
    font-size: 28px;
  }
}

@media (max-width:750px) {
  .using__title {
    margin: 0 0 45px 0;
  }
}

.using__content_title {
  margin: 0 0 21px 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

 @media (max-width:750px) {
  .using__content_title {
    margin-bottom: 30px;
  }
  .using__content_title:not(.none) {
    margin-top: 15px;
  }
 }

.using__content_paragraph {
  margin: 0;
  font-size: 16px;
  opacity: 0.7;
}

 @media (max-width:750px) {
  .using__content_paragraph {
    width: 265px;
    margin-left: -77px;
  }
}

/*---ADVANTAGE---*/

.advantage {
  margin-bottom: 90px;
}

.advantage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #221B44;
}

.advantage__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 379px;
  min-height: 215px;
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid #E7E7E7;
}

@media (max-width:1190px) {
  .advantage__item {
    width: 359px;
  }
}

@media (max-width:750px) {
  .advantage__item {
    width: 100%;
    min-height: 150px;
  }
}

.advantage__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width:1190px) {
  .advantage__item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}


.advantage__item:not(:last-child):hover {
  background-color: #7E64FE;
}

.advantage__item:hover .advantage__paragraph,
.advantage__item:hover .advantage__item_link {
  color: #ffffff;
}

.advantage__item_number {
  position: absolute;
  top: 23px;
  left: 37px;
  font-size: 40px;
  opacity: 0.05;
}

@media (max-width:750px) {
  .advantage__item_number {
    top: 15px;
    left: 19px;
    font-size: 30px;
  }
}

.advantage__paragraph {
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

.advantage__item_link {
  color: #221B44;
}

.advantage__title {
  display: inline;
  margin-right: 40px;
  font-size: 26px;
}

@media (max-width:750px) {
  .advantage__title {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.advantage__link {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 57px;
  margin-right: 30px;
  text-align: center;
  line-height: 57px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, rgba(126, 100, 254, 0)));
  background: -webkit-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

@media (max-width:750px) {
  .advantage__link {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.advantage__link::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 230px;
  height: 57px;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, #4F4195));
  background: -webkit-linear-gradient(left, #7E64FE 0%, #4F4195 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, #4F4195 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, #4F4195 128.4%);
}

/*--WHOLESALE---*/

.wholesale {
  margin-bottom: 95px;
  background: #221B44 url(../img/background_wholesale.png) center top no-repeat;
  background-size: cover;
}

@media (max-width:1190px) {
  .wholesale {
    margin-bottom: 58px;
  }
}

@media (max-width:750px) {
  .wholesale {
    margin-bottom: 50px;
  }
}

.wholesale__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wholesale__up_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  padding-top: 90px;
}

@media (max-width:1190px) {
  .wholesale__up_block {
    margin-bottom: 30px;
    padding-top: 50px;
  }
}

@media (max-width:750px) {
  .wholesale__up_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25px;
  }
}

.wholesale__discount {
  position: relative;
  margin: -30px 85px 0 0;
  font-weight: bold;
  font-size: 132px;
  color: #7E64FE;
  text-shadow: 1px 7px 20px rgba(114, 85, 255, 0.3);
}

@media (max-width:1190px) {
  .wholesale__discount {
    margin: -25px 0 0;
    font-size: 166px;
  }
}

@media (max-width:750px) {
  .wholesale__discount {
    font-size: 120px;
    margin: 0 0 20px;
  }
}

.wholesale__discount span {
  position: absolute;
  top: 40px;
  left: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.6;
  text-shadow: none;
}

@media (max-width:750px) {
  .wholesale__discount span {
    top: 21px;
    left: 13px;
  }
}

.wholesale__up_right_block {
  width: 615px;
}

@media (max-width:1190px) {
  .wholesale__up_right_block {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width:750px) {
  .wholesale__up_right_block {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: auto;
  }
}

.wholesale__title {
  margin: 0 0 20px 0;
  font-size: 32px;
  color: #ffffff;
}

@media (max-width:1190px) {
  .wholesale__title {
    font-size: 28px;
  }
}

.wholesale__up_block .wholesale__paragraph {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}

.wholesale__down_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  z-index: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width:1190px) {
  .wholesale__down_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 85px;
  }
}

@media (max-width:750px) {
  .wholesale__down_block {
    width: 320px;
    margin-left: -15px;
    margin-bottom: 0;
  }
}

.wholesale__down_left_block {
  padding: 50px 47px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width:1190px) {
  .wholesale__down_left_block {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media (max-width:750px) {
  .wholesale__down_left_block {
    padding: 38px 15px 0;
  }
}

.wholesale__down_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 50px 43px;
}

@media (max-width:1190px) {
  .wholesale__down_right_block {
    padding: 27px 0 45px 43px;
  }
}

@media (max-width:750px) {
  .wholesale__down_right_block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 31px 15px 52px;
  }
}

.wholesale__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wholesale__form_up_block,
.wholesale__form_down_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 482px;
}

@media (max-width:1190px) {
  .wholesale__form_down_block  {
    width: 100%;
  }
}

@media (max-width:750px) {
  .wholesale__form_down_block  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wholesale__form_up_block {
  margin-bottom: 38px;
}

@media (max-width:750px) {
  .wholesale__form_up_block {
    width: 290px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
}

.wholesale__form_title {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.7;
}

.wholesale__form_up_block .wholesale__form_title {
  margin-right: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width:750px) {
  .wholesale__form_up_block .wholesale__form_title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 7px;
    margin-right: 0;
  }
}

.wholesale__form_down_block .wholesale__form_title {
  margin-bottom: 10px;
}

.wholesale__radio {
  display: none;
}

@media (max-width:750px) {
  .wholesale__form_inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 180px;
  }
}

.wholesale__radio_label {
  padding: 5px 13px 6px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  color: #ffffff;
}

.wholesale__radio_label:not(:last-child) {
  margin-right: 20px;
}

@media (max-width:750px) {
  .wholesale__radio_label {
    margin-bottom: 20px;
  }
  .wholesale__radio_label:nth-of-type(2n) {
    margin-right: 0;
  }
}

.wholesale__radio:checked + .wholesale__radio_label {
 background-color: #7E64FE;
 border: none;
}

.wholesale__select_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 150px;
  margin-right: 30px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width:1190px) {
  .wholesale__select_label {
    width: 235px;
    margin-bottom: 55px;
  }
}

@media (max-width:750px) {
  .wholesale__select_label {
    width: 100%;
    margin-bottom: 32px;
  }
  .wholesale__select_label:last-child {
    margin-bottom: 40px;
  }
}

.wholesale__select_label:last-child {
  margin-right: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


.wholesale__form select {
  height: 28px;
  background: transparent;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.wholesale__sending {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 225px;
  height: 57px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 57px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, rgba(126, 100, 254, 0)));
  background: -webkit-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

@media (max-width:1190px) {
  .wholesale__sending {
    width: 351px;
  }
}

@media (max-width:750px) {
  .wholesale__sending {
    width: 280px;
    margin-right: 0;
  }
}

.wholesale__sending::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 225px;
  height: 57px;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, rgba(126, 100, 254, 0)));
  background: -webkit-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

@media (max-width:1190px) {
  .wholesale__sending::after {
    width: 351px;
  }
}

@media (max-width:750px) {
  .wholesale__sending::after {
    width: 280px;
  }
}

.wholesale__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 53px 0 0;
}

@media (max-width:1190px) {
  .wholesale__price {
    margin: 13px 74px 0 0;
  }
}

@media (max-width:750px) {
  .wholesale__price {
    margin: 0 0 20px;
  }
}

.wholesale__price p:first-child {
  margin: 0 28px 0 0;
  font-size: 20px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #ffffff;
  opacity: 0.6;
}

.wholesale__price p:last-child {
  margin: 0;
  font-size: 32px;
  color: #ffffff;
}

.wholesale__down_block .wholesale__paragraph {
  width: 430px;
  margin: 0;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
}

@media (max-width:1190px) {
  .wholesale__down_block .wholesale__paragraph {
    width: auto;
  }
}

@media (max-width:750px) {
  .wholesale__down_block .wholesale__paragraph {
    width: 280px;
  }
}

.wholesale__link {
  color: #ffffff;
}

/*---EARNINGS---*/

.earnings__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #221B44;
}

@media (max-width:1190px) {
  .earnings__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.earnings__image {
  z-index: -3;
  margin-left:-135px;
  margin-right: 25px;
}

@media (max-width:1190px) {
  .earnings__image {
    margin-left: 0;
  }
}

@media (max-width:750px) {
  .earnings__image {
    width: 408px;
    height: 373px;
    margin-left:-55px;
  }
}

.earnings__right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width:1190px) {
  .earnings__right_block {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 30px;
  }
}

@media (max-width:750px) {
  .earnings__right_block {
    margin-bottom: 20px;
  }
}

.earnings__title {
  margin: 0 0 40px;
  font-size: 32px;
}

@media (max-width:1190px) {
  .earnings__title {
    margin: 0 0 35px;
    font-size: 28px;
  }
}

@media (max-width:750px) {
  .earnings__title {
    margin: 0 0 25px;
  }
}

.earnings__paragraph {
  margin: 0 0 23px;
  font-size: 16px;
  line-height: 130%;
  opacity: 0.7;
}

@media (max-width:1190px) {
  .earnings__paragraph:last-child {
    margin: 0;
  }
}

/*---QUESTIONS---*/

.questions {
  position: relative;
  margin-top: -155px;
  margin-bottom: 90px;
  z-index: 0;
  background-color: #ffffff;
}

@media (max-width:1190px) {
  .questions {
    margin-top: -170px;
    margin-bottom: 80px;
  }
}

@media (max-width:750px) {
  .questions {
    margin-top: -123px;
    margin-bottom: 50px;
  }
}

.questions__container {
  min-height: 456px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E6E6E6;
  color: #221B44;
}

@media (max-width:1190px) {
  .questions__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.questions__left_block {
  padding: 0 100px;
  border-right: 1px solid #E6E6E6;
  background: url('../img/sprite.svg#icon-subtract') 242px 304px no-repeat;
  background-size: 240px 151px;
}

@media (max-width:1190px) {
  .questions__left_block {
    padding: 0 63px;
    border-right: none;
    border-bottom: 1px solid #E6E6E6;
    background-position: 424px 178px;
  }
}

@media (max-width:750px) {
  .questions__left_block {
    padding: 0 23px;
    background-position: 183px 218px;
    background-size: 97px 61px;
  }
}

.questions__title {
  margin: 70px 0 40px 0;
  font-size: 32px;
}

@media (max-width:1190px) {
  .questions__title {
    margin: 52px 0 45px;
    font-size: 28px;
  }
}

@media (max-width:750px) {
  .questions__title {
    margin: 38px 0 20px;
    font-size: 26px;
  }
}

.questions__left_block .questions__paragraph {
  width: 350px;
  margin: 0 0 40px;
  font-size: 16px;
  opacity: 0.7;
}

@media (max-width:1190px) {
  .questions__left_block .questions__paragraph {
    width: auto;
  }
}

@media (max-width:750px) {
  .questions__left_block .questions__paragraph {
    margin: 0 0 35px;
  }
}

.questions__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width:1190px) {
  .questions__contact:last-child {
    margin-bottom: 70px;
  }
}

@media (max-width:750px) {
  .questions__contact:last-child {
    margin-bottom: 35px;
  }
}

.questions__contact a {
  font-size: 16px;
  color: #221B44;
  opacity: 0.7;
}

.questions__link-email {
  margin-bottom: 25px;
  text-decoration: none;
}

.questions__contact svg {
  margin-right: 18px;
}

.questions__right_block {
  padding: 83px 0 0 87px;
}

@media (max-width:1190px) {
  .questions__right_block {
    padding: 59px 0 0 63px;
  }
}

@media (max-width:750px) {
  .questions__right_block {
    padding: 40px 23px 0;
  }
}

.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questions__form-title {
  margin-bottom: 10px;
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
}
.questions__form input {
  height: 28px;
  background: transparent;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

.questions__form_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 190px;
  margin-right: 30px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}

@media (max-width:1190px) {
  .questions__form_label {
    width: 282px;
  }
}

@media (max-width:750px) {
  .questions__form_label {
    width: auto;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.questions__form_label:last-child {
  width: 414px;
}

@media (max-width:1190px) {
  .questions__form_label:last-child {
    width: 595px;
    margin-bottom: 40px;
  }
}

.questions__form textarea {
  width: 430px;
  height: 65px;
  resize: none;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 16px;
}

@media (max-width:1190px) {
  .questions__form textarea {
    width: 611px;
  }
}

.questions__down_block {
  background: transparent;
}

@media (max-width:750px) {
  .questions__down_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.questions__sending {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 185px;
  height: 57px;
  margin-right: 35px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, rgba(126, 100, 254, 0)));
  background: -webkit-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, rgba(126, 100, 254, 0) 128.4%);
}

@media (max-width:1190px) {
  .questions__sending {
    width: 275px;
  }
}

@media (max-width:750px) {
  .questions__sending {
    width: 238px;
    margin-bottom: 25px;
  }
}

.questions__sending::after {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
  content: '';
  width: 185px;
  height: 57px;
  background: -webkit-gradient(linear, left top, right top, from(#7E64FE), color-stop(128.4%, #4F4195));
  background: -webkit-linear-gradient(left, #7E64FE 0%, #4F4195 128.4%);
  background: -o-linear-gradient(left, #7E64FE 0%, #4F4195 128.4%);
  background: linear-gradient(90deg, #7E64FE 0%, #4F4195 128.4%);
}

@media (max-width:1190px) {
  .questions__sending::after {
    width: 275px;
  }
}

@media (max-width:750px) {
  .questions__sending::after {
    width: 238px;
  }
}

.questions__down_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__down_block .questions__paragraph {
  width: 220px;
  font-size: 12px;
  color: #999999;
}

@media (max-width:1190px) {
  .questions__down_block .questions__paragraph {
    width: auto;
    margin-bottom: 84px;
  }
}

@media (max-width:750px) {
  .questions__down_block .questions__paragraph {
    width: 228px;
    margin-bottom: 45px;
  }
}

.questions__down_block .questions__link {
  color: #999999;
}

/*---SOCIAL---*/

.social {
  margin-bottom: 90px;
  background-color: #FAFAFA;
  color: #221B44;
}

@media (max-width:1190px) {
  .social {
    margin-bottom: 70px;
  }
}

@media (max-width:750px) {
  .social {
    margin-bottom: 50px;
  }
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0;
}

@media (max-width:1190px) {
  .social__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 53px 0 0;
  }
}

@media (max-width:750px) {
  .social__container {
    padding: 33px 0 0;
  }
}

.social__right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width:1190px) {
  .social__right_block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 63px;
  }
}

@media (max-width:750px) {
  .social__right_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 27px;
  }
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #7E64FE;
}

.social__item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width:1190px) {
  .social__item {
    width: 130px;
    height: 130px;
  }
}

@media (max-width:750px) {
  .social__item {
    margin-bottom: 30px;
  }
  .social__item:not(:last-child) {
    margin-right: 0;
  }
}

.social__title {
  margin: 0 0 30px;
  font-size: 32px;
}

@media (max-width:1190px) {
  .social__title {
    margin: 0 0 25px;
    font-size: 28px;
  }
}

.social__paragraph {
  width: 400px;
  margin: 0;
  font-size: 16px;
  opacity: 0.7;
}

@media (max-width:1190px) {
  .social__paragraph {
    width: 620px;
    margin-bottom: 55px;
  }
}

@media (max-width:750px) {
  .social__paragraph {
    width: 260px;
    margin-bottom: 55px;
  }
}

.social__line {
  width: 80px;
  height: 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #D9D9D9;
}

@media (max-width:1190px) {
  .social__line {
    display: none;
  }
}

@media (max-width:1190px) {
  .social__icon_facebook {
    width: 32px;
    height: 32px;
  }
  .social__icon_vk {
    width: 34px;
    height: 34px;
  }
  .social__icon_twitter {
    width: 30px;
    height: 28px;
  }
  .social__icon_instagram {
    width: 28px;
    height: 28px;
  }
}

/*---WHY WE---*/

.why_we {
  margin-bottom: 95px;
}

@media (max-width:1190px) {
  .why_we {
    margin-bottom: 80px;
  }
}

@media (max-width:750px) {
  .why_we {
    margin-bottom: 55px;
  }
}

.why_we__container {
  padding-left: 60px;
  border-left: 1px solid #E6E6E6;
  font-size: 16px;
  color: #221B44
}

@media (max-width:1190px) {
  .why_we__container {
    padding-left: 0;
    border: none;
  }
}

.why_we__paragraph,
.why_we__title {
  margin: 0;
  opacity: 0.7;
  line-height: 130%;
}

.why_we__paragraph {
  margin-bottom: 25px;
}

.why_we__title {
  margin-bottom: 40px;
  font-weight: bold;
}

@media (max-width:1190px) {
  .why_we__title {
    margin-bottom: 30px;
  }
}

@media (max-width:750px) {
  .why_we__title {
    margin-bottom: 23px;
  }
}

.why_we__list {
  margin: 0;
  padding-left: 15px;
  list-style-type: square;
  color: #7E64FE;
}

@media (max-width:750px) {
  .why_we__list {
    width: 260px;
  }
}

.why_we__list li:not(:last-child) {
  margin-bottom: 25px;
}

.why_we__list span {
  margin-left: 10px;
  color: #221B44;
  opacity: 0.7;
}

@media (max-width:750px) {
  .why_we__list span {
    margin-left: 0;
  }
}

/*---PAYMENT---*/

.payment {
  margin-bottom: 115px;
}

@media (max-width:1190px) {
  .payment {
    margin-bottom: 45px;
  }
}

@media (max-width:750px) {
  .payment {
    margin-bottom: 25px;
  }
}

.payment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width:1190px) {
  .payment__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width:750px) {
  .payment__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 250px
  }
}

@media (max-width:1190px) {
  .payment__icon {
    margin-right: 61px;
    margin-bottom: 30px;
  }
}

@media (max-width:750px) {
  .payment__icon {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

@media (max-width:750px) {
  .payment__icon_mastercard {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/*---FOOTER---*/

footer {
  background: url(../img/background_footer_desktop.png) center center no-repeat;
  background-size: cover;
}

@media (max-width:1190px) {
  footer {
    background: url(../img/background_footer_tablet.png) center center no-repeat;
    background-size: cover;
  }
}

@media (max-width:1190px) {
  footer {
    background: url(../img/background_footer_mobile.png) center center no-repeat;
    background-size: cover;
  }
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 50px;
}

@media (max-width:1190px) {
  .footer_container {
    padding: 50px 0 35px;
  }
}

@media (max-width:750px) {
  .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 82px 0 0;
  }
}

.footer__left_block,
.footer__center_block,
.footer__right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width:750px) {
  .footer__left_block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__center_block {
    text-align: center;
    margin-bottom: 25px;
  }
  .footer__right_block {
    text-align: center;
    margin-bottom: 75px;
  }
}

.footer__icon-logo {
  fill: #ffffff;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.footer__icon-logo {
  margin-right: 5px;
}

.footer__title {
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.7;
}

.footer__copyright,
.footer__link {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7;
}
