@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700&display=swap&subset=cyrillic');

/*---OVERALL STYLE---*/

/** {outline: 1px solid red;}*/

body {
  margin: 0;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  line-height: 130%;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

/*---ATTENTION---*/

.attention {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: #E40000;
}

.attention__text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
}

/*---HEADER---*/

.header {
  background: linear-gradient(183.22deg, #7E64FE -17.54%, rgba(126, 100, 254, 0) 80.64%), rgb(0, 0, 0);
  margin-bottom: 30px;
}

.header__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.header__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__navigation_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__navigation_container li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 1px;
}

.header__icon-logo {
  margin-right: 10px;
  fill: #B3A4FF;
}

.header__icon {
  fill: #ffffff;
}

.header__logo,
.header__ip_link,
.header__balance_link,
.header__login_link,
.header__balance_button {
  text-decoration: none;
  color: #FFFFFF;
}

.header__ip {
  margin-right: 72px;
}

.header__balance {
  margin-right: 78px;
}

.header__balance_circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 5px solid  #7E64FE;
  margin-right: 11px;
}

.header__balance_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-right: 36px;
}

.header__balance_price {
  margin-left: 17px;
  font-weight: bold;
}

.header__balance_button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 9px 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: #7E64FE;
}

.header__login {
  margin-right: 31px;
}

.header__login_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__login_link .header__icon {
  margin-right: 14px;
}

.header__settings {
  margin-right: 32px;
}

.header__settings_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__logout {
  margin-right: 8px;
}

.header__logout_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

/*---LAYOUT---*/

.layout {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/*---NAV---*/

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  flex-shrink: 0;
  width: 262px;
  margin-right: 30px;
}

.nav__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin: 0 0 27px;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  min-height: 50px;
  box-sizing: border-box;
  padding: 10px 24px 13px;
  margin-bottom: 1px;
  text-decoration: none;
  font-size: 15px;
  color: #444444;
  background: #F2F2F2;
}

.nav__icon {
  margin-right: 15px;
  fill: #B3A4FF;
}

.nav__question .nav__icon {
  margin-top: 3px;
  fill: #CCCCCC;
}

.nav__icon_pointer {
  transform: rotate(180deg);
  margin-left: auto;
  fill: #444444;
}

.nav__icon_rotate {
  transform: rotate(0);
}

.nav__buy {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 19px;
  padding: 20px 0 22px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: #7E64FE;
  color: #fff;
}

.nav__drop_out {
  display: none;
  margin: 0;
  padding: 8px 0 15px;
  list-style: none;
  background: #FCFCFC;
}

.nav__drop_out_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 22px 7px 56px;
  text-decoration: none;
  color: #221B44;
  background: #FCFCFC;
}

.nav__drop_out_link:hover {
  color: #7E64FE;
  background: #F7F7F7;
}

.nav__drop_out_link span {
  margin-left: auto;
  color: #221B44;
  opacity: 0.5;
}

.nav__question {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  text-decoration: none;
  font-size: 13px;
  color: #444444;
}

/*---MAIN---*/

.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-grow: 1;
}

.main__button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  min-height: 34px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7E64FE;
  background-color: transparent;
  border: 1px solid #7E64FE;
  padding: 0 14px;
}

.main__submit {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  min-height: 34px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7E64FE;
  border: none;
  padding: 0 14px;
}

.main__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__form .select2-selection__rendered {
  height: 34px !important;
  line-height: 34px !important;
}

.main__form .select2-selection--single {
  height: 34px !important;
}

.main__input {
  height: 34px;
  box-sizing: border-box;
  padding-left: 15px;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  font-size: 13px;
  color: #666666;
}

.main__input:-moz-placeholder,
.main__input::-webkit-input-placeholder,
.main__input::placeholder {
  opacity: 1;
}

.main__checkbox {
  display: none;
}

.main__checkbox_label {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  font-size: 13px;
  line-height: 140%;
  color: #666666;
}

.main__checkbox_label:after {
  content: '';
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
}

.main__checkbox:checked + .main__checkbox_label:after {
  background-color: #7E64FE;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.65669 4.24239L8.19212 0.706956C8.58264 0.316431 9.21581 0.316431 9.60633 0.706956C9.99686 1.09748 9.99686 1.73064 9.60633 2.12117L5.37538 6.35213C5.37159 6.35604 5.36776 6.35993 5.36389 6.3638C5.17699 6.5507 4.93452 6.64815 4.68967 6.65616C4.42284 6.66494 4.15316 6.56749 3.94948 6.36381C3.94548 6.35981 3.94152 6.35578 3.9376 6.35173L1.24992 3.66406C0.8594 3.27353 0.8594 2.64037 1.24992 2.24984C1.64045 1.85932 2.27361 1.85932 2.66414 2.24984L4.65669 4.24239Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.main__radio {
  display: none;
}

.main__radio_label {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  font-size: 13px;
  line-height: 140%;
  color: #666666;
}

.main__radio_label:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.main__radio:checked + .main__radio_label:before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%237E64FE'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.main__title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

.main__text {
  margin: 0;
  font-size: 13px;
  line-height: 140%;
  color: #666666;
}

.main__table {
  width: 100%;
  border: 1px solid #E6E6E6;
  border-collapse: collapse;
}

.main__table thead,
.main__table tbody,
.main__table tfoot,
.main__table tr,
.main__table th,
.main__table td {
  display: flex;
  box-sizing: border-box;
}

.main__table tr {
  width: 100%;
  justify-content: flex-start;
}

.main__table th,
.main__table td {
  -ms-align-items: center;
  align-items: center;
}

.main__table tbody {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 250px;
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}

.main__header_row {
  background-color: #F7F7F7;
}

.main__header_col {
  height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
  border-bottom: 1px solid #E6E6E6;
}

.main__col {
  height: 44px;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  line-height: 140%;
  color: #333333;
  border-bottom: 1px solid #E6E6E6;
}

.main__footer_row {
  justify-content: space-between;
  background-color: #F7F7F7;
  padding-left: 17px;
  padding-right: 11px;
}

.main__footer_col {
  height: 50px;
  padding: 0;
}

.main__footer_text {
  margin-right: 14px;
  font-size: 13px;
  color: #666666;
}

.main__footer_select {
  width: 65px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 3px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  color: #999999;
}

.main__change_page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.main__prev_page,
.main__next_page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 3px;
  color: #999999;
}

.main__prev_page {
  border-radius: 3px 0 0 3px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #F2F2F2;
}

.main__next_page {
  border-radius: 0 3px 3px 0;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

.main__prev_page span,
.main__next_page span {
  margin-bottom: 4px;
}

.main__coment_text {
  width: 130px;
  height: 35px;
  box-sizing: border-box;
  padding: 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: none;
  border: none;
}

.main__coment_text:focus {
  border: 1px solid #B3A4FF;
  padding-left: 14px;
  padding: 9px 13px 0;
}

.main__coment_text:-moz-placeholder,
.main__coment_text::-webkit-input-placeholder,
.main__coment_text::placeholder {
  text-align: center;
  opacity: 1;
  color: #333333;
}

.main__coment_text:focus::placeholder {
  color: #ffffff;
}


.main__coment_label {
  display: none;
}

.main__coment_text:not(:focus):hover + .main__coment_label {
  display: block;
  width: 210px;
  padding: 13px 15px 13px 22px;
  position: absolute;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #FFFFFF;
}

.main__coment_text:not(:focus):hover + .main__coment_label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 100px;
  background: #FFFFFF;
  transform: rotate(-45deg);
}

.my_proxy__coment_off {
  visibility: hidden;
}

.pop_up__overlay {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.pop_up {
  display: none;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  right: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 38px 40px;
  border: 1px solid #E7E7E7;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
}

.pop_up__icon_close {
  position: absolute;
  top: 24px;
  right: 22px;
}

/*---MY_PROXY---*/

.my_proxy {
  width: 100%;
}

.my_proxy .main__title {
  margin: 0 0 23px;
}

.my_proxy__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.my_proxy__navigation  .main__input {
  display: none;
}

.my_proxy__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.my_proxy__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-right: 49px;
  margin-top: 2px;
}

.my_proxy__counter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 5px;
  padding: 0 4px;
  font-size: 9px;
  line-height: 12px;
  color: #FFFFFF;
  background: #7E64FE;
  border-radius: 6px;
}

.my_proxy__icon {
  fill: #CCCCCC;
}

.my_proxy__item .my_proxy__icon {
  margin-right: 9px;
}

.my_proxy__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: #666666;
}

.my_proxy__link_active {
  color: #7E64FE;
}

.my_proxy__link_active .my_proxy__icon {
  fill: #7E64FE;
}

.my_proxy__item_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
}

/*___prolong___*/

.my_proxy__prolong {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 15px;
}

.my_proxy__prolong_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
}

.my_proxy__prolong_container:first-child {
  border-bottom: 1px solid #E6E6E6;
}

.my_proxy__prolong_container:last-child {
  color: #333333;
}

.my_proxy__prolong .main__text {
  margin-right: 15px;
}

.my_proxy__prolong .my_proxy__label {
  margin-right: 25px;
}

.my_proxy__prolong .main__submit {
  margin-left: 10px;
}

.my_proxy__prolong_container:last-child .main__text {
  margin-right: 20px;
}

.my_proxy__prolong_container:last-child .main__button {
  margin-right: 20px;
}

.my_proxy__prolong .my_proxy__filter_select,
.my_proxy__prolong .select2-container,
.my_proxy__prolong .select2-selection__rendered {
  width: 94px !important;
}

/*___search___*/

.my_proxy__search {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 18px 0 20px 25px;
}

.my_proxy__search_link {
  text-decoration: none;
  color: #7E64FE;
}

.my_proxy__search .my_proxy__label:last-of-type {
  z-index: 0;
  position: relative;
  margin-left: -4px;
}

.my_proxy__search .my_proxy__label:last-of-type::before {
  content: '';
  position: absolute;
  height: 26px;
  width: 1px;
  top: 4px;
  left: 5px;
  background-color: #D9D9D9;
}

.my_proxy__search .main__submit {
  min-width: 90px;
}

.my_proxy__search .main__input {
  z-index: 0;
  width: 220px;
  margin-right: 15px;
  box-sizing: border-box;
  padding-left: 16px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #D9D9D9;
  border-left: none;
  font-size: 13px;
  color: #666666;
}

.my_proxy__search .main__text {
  margin-right: 5px;
}

.my_proxy__search .main__form .main__text {
  margin-right: 15px;
}

.my_proxy__search .main__form {
  margin-right: 20px;
}

.my_proxy__search .my_proxy__filter_select,
.my_proxy__search .select2-container,
.my_proxy__search .select2-selection__rendered {
  width: 120px !important;
}

.my_proxy__search .my_proxy__icon_container {
  position: relative;
}

.my_proxy__search .my_proxy__icon_container:hover:before {
  content: 'Поиск списком помогает найти нужные прокси, используя множество параметров или список из прокси';
  position: absolute;
  left: -225px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  box-sizing: border-box;
  width: 210px;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  color: #333333;
  font-size: 13px;
  line-height: 130%;
}

.my_proxy__search .my_proxy__icon_container:hover:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: -20px;
  background: #FFFFFF;
  transform: rotate(-45deg);
}

.my_proxy__search_pop_up {
  margin-top: -210px;
  margin-left: -218px;
  width: 436px;
  min-height: 420px;
}

.my_proxy__search_pop_up .main__title {
  margin: 0 0 15px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #221B44;
  text-transform: none;
}

.my_proxy__search_pop_up .my_proxy__paragraph {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 130%;
  color: #221B44;
  opacity: 0.7;
}

.my_proxy__search_pop_up .main__textarea {
  margin-bottom: 22px;
  width: 100%;
  height: 215px;
  resize: none;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  padding: 7px 20px 0;
  border-radius: 3px;
  font-size: 13px;
  line-height: 140%;
  color: #666666;
}

.my_proxy__search_pop_up .main__textarea::placeholder {
  opacity: 1;
}

/*___edit___*/

.my_proxy__edit {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 30px 34px;
}

.my_proxy__edit .main__form {
  justify-content: space-between;
  margin-bottom: 15px;
}

.my_proxy__edit_nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6;
}

.my_proxy__edit_link {
  margin-right: 30px;
  margin-bottom: -1px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #999999;
}

.my_proxy__edit_link_active {
  color: #7E64FE;
  border-bottom: 1px solid #7E64FE;
}

.my_proxy__edit_nav .main__input {
  display: none;
}

/*____edit_login____*/

.my_proxy__edit_login .main__input {
  width: 195px;
}

.my_proxy__edit_login .main__submit {
  padding-left: 38px;
  padding-right: 38px;
}

.my_proxy__edit_login .main__button {
  padding-left: 33px;
  padding-right: 33px;
}

.my_proxy__edit_login .main__checkbox_label {
  margin-right: 10px;
  margin-left: 30px;
}

.my_proxy__edit_login .main__checkbox_label:after {
  left: -30px;
}

/*___edit_comment___*/

.my_proxy__edit_comment .main__input {
  width: 410px;
}

.my_proxy__edit_comment .main__submit {
  padding-left: 41px;
  padding-right: 41px;
}

.my_proxy__edit_comment .main__button {
  padding-left: 39px;
  padding-right: 39px;
}

/*___edit_type___*/

.my_proxy__edit_type {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.my_proxy__edit_type .main__form {
  margin-left: 25px;
  margin-right: 38px;
  margin-bottom: 0;
}

.my_proxy__edit_type .main__submit {
  padding-left: 36px;
  padding-right: 36px;
}

.my_proxy__edit_type .main__radio_label {
  margin-right: 7px;
}

.my_proxy__edit_type .my_proxy__item_container {
  margin-right: 40px;
}

.my_proxy__edit_type .main__radio_label:before {
  left: -25px;
}

/*___auth___*/

.my_proxy__auth {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 25px 34px 30px;
}

.my_proxy__auth .main__radio_label {
  margin-right: 7px;
}

.my_proxy__auth .my_proxy__item_container {
  margin-right: 50px;
}

.my_proxy__auth .my_proxy__item_container:last-of-type {
  margin-right: 38px;
}

.my_proxy__auth .main__form:first-child {
  margin-left: 25px;
  margin-bottom: 20px;
}

.my_proxy__auth .main__input {
  width: 270px;
  margin-right: 12px;
}

.my_proxy__auth .main__submit {
  min-width: 153px;
  padding-right: 36px;
  padding-left: 36px;
}

.my_proxy__auth .main__button {
  min-width: 153px;
  padding-right: 36px;
  padding-left: 36px;
}

.my_proxy__auth .main__radio_label:before {
  left: -25px;
}

/*___download___*/

.my_proxy__download {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 27px 34px 30px;
}

.my_proxy__download .main__form:first-child {
  margin-bottom: 18px;
}

.my_proxy__download .main__input {
  width: 26px;
  padding-left: 0;
  text-align: center;
}

.my_proxy__download .main__text:first-child {
  margin-right: 30px;
}

.my_proxy__download .main__text:nth-of-type(2) {
  margin-right: 6px;
}

.my_proxy__download .main__text:last-of-type {
  margin-left: 5px;
}

.my_proxy__download .main__text :nth-child(n) {
  margin-right: 13px;
}

.my_proxy__download .main__form:first-child .main__submit {
  padding: 8px 12px;
}

.my_proxy__download .main__form:last-child .main__submit {
  min-width: 132px;
 margin-right: 20px;
}

.my_proxy__download .my_proxy__label {
  margin-right: 19px;
}

.my_proxy__download .my_proxy__label:first-child .my_proxy__filter_select,
.my_proxy__download .my_proxy__label:first-child .select2-container,
.my_proxy__download .my_proxy__label:first-child .select2-selection__rendered {
  width: 150px !important;
}

.my_proxy__download .my_proxy__label:not(:first-child) .my_proxy__filter_select,
.my_proxy__download .my_proxy__label:not(:first-child) .select2-container,
.my_proxy__download .my_proxy__label:not(:first-child) .select2-selection__rendered {
  width: 123px !important;
}

/*___filter___*/

.my_proxy__filter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 27px 34px 30px;
}

.my_proxy__filter .main__text {
  margin-right: 24px;
}

.my_proxy__filter .my_proxy__item_container {
  width: 100%;
  justify-content: space-between;
}

.my_proxy__filter .my_proxy__item_container:first-child {
  margin-bottom: 16px;
}

.my_proxy__filter .my_proxy__item_container:nth-child(2) {
  margin-bottom: 16px;
}

.my_proxy__filter_title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #666666;
}

.my_proxy__filter .main__submit {
  min-width: 177px;
}

.my_proxy__filter .my_proxy__filter_select,
.my_proxy__filter .select2-container,
.my_proxy__filter .select2-selection__rendered {
  width: 177px !important;
}

/*.my_proxy__filter .select2-selection--single {
  width: 177px !important;
}*/

/*___table base start___*/

.my_proxy__check {
  width: 50px;
  padding: 0;
  justify-content: center;
}

.my_proxy__country {
  width: 35px;
  padding: 0;
  justify-content: center;
}

.my_proxy__type {
  width: 105px;
  padding-left: 12px;
  justify-content: flex-start;
}

.my_proxy__ip {
  width: 55px;
  justify-content: center;
}

.my_proxy__socks {
  width: 80px;
  justify-content: center;
}

.my_proxy__login {
  width: 95px;
  justify-content: flex-start;
}

.my_proxy__pas {
  width: 90px;
  justify-content: flex-start;
}

.my_proxy__date {
  width: 85px;
  justify-content: flex-start;
}

.my_proxy__coment {
  width: 145px;
}

.my_proxy__action {
  flex-grow: 1;
}

.main__table .main__checkbox_label:after {
  left: -8px;
}

/*___table base end___*/
/*___table all start___*/

.main__table_icon {
  fill: #999999;
}

/*___table all end___*/
/*___table thead start___*/


/*___table thead end___*/
/*___table tbody start___*/

.my_proxy__tbody .my_proxy__date {
  font-weight: 500;
  color: #1AB04D;
}

.my_proxy__tbody .my_proxy__icon {
  margin-right: 10px;
  fill: #999999;
}

.my_proxy__tbody .my_proxy__icon_active {
  fill: #1AB04D;
}

.my_proxy__tbody .my_proxy__socks {
  justify-content: center;
}

/*___table tbody end___*/
/*___table tfoot start___*/

.my_proxy__tfoot .main__footer_col:nth-child(2) {
  margin-left: auto;
  margin-right: 36px;
}

.my_proxy__footer_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: #666666;
}

.my_proxy__footer_link .my_proxy__icon {
  margin-right: 7px;
}

.my_proxy__tfoot .my_proxy__icon_active {
  fill: #1AB04D;
}

/*___table tfoot end___*/

/*---PRICING---*/

.pricing {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.pricing__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 80px;
}

.pricing__container > .pricing__item_container {
  position: relative;
  padding: 0;
}

.pricing__item_container {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 262px;
  box-sizing: border-box;
  padding: 45px 27px 32px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.pricing__item_container .main__form {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.pricing__around {
  position: absolute;
  top: -80px;
  left: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(126, 100, 254, 0.05);
}

.pricing__around > span {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(126, 100, 254, 0.05);
}

.pricing__around_text {
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  box-sizing: border-box;
  border-radius: 50%;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pricing__around_text_small {
  font-size: 9px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.pricing__item_container:nth-child(1) .pricing__around_text {
  background-color: #7E64FE;
}

.pricing__item_container:nth-child(2) .pricing__around_text {
  background-color: #FF151F;
}

.pricing__item_container:nth-child(3) .pricing__around_text {
  background-color: #E02C40;
}

.pricing .pricing__select,
.pricing .select2-container,
.pricing .select2-selection__rendered {
  width: 100% !important;
}

.pricing .main__title {
  margin: 0 0 15px;
}

.pricing__paragraph {
  margin: 0;
  font-size: 14px;
  line-height: 130%;
  color: #444444;
}

.pricing__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 130%;
  color: #7E64FE;
}

.pricing__item_title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

.pricing__item_paragraph {
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 140%;
  color: #666666;
}

.pricing__item_container .main__input {
  width: 100%;
  margin-bottom: 20px;
}

.pricing__label {
  width: 100%;
  margin-bottom: 20px;
}

.pricing__promocode {
  position: relative;
}

.pricing__promocode_submit {
  position: absolute;
  top: 1px;
  right: 2px;
  height: 32px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 140%;
  color: #7E64FE;
  background-color: #ffffff;
  box-shadow: none;
  border: none;
}

.pricing__price {
  margin: 4px 0 16px;
  font-size: 26px;
  color: #7E64FE;
}

/*---SETTINGS---*/

.settings {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.settings .main__form {
  width: 360px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
}

.settings__label {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.settings__label:last-of-type {
  margin-bottom: 33px;
}

.settings .main__title {
  margin: 0 0 23px;
}

.settings .settings__item_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: 33px;
}

.settings .settings__item_container:nth-child(1) {
  margin-bottom: 17px;
}

.settings .settings__item_container:nth-child(2) {
  margin-bottom: 9px;
}

.settings .main__checkbox_label {
  margin-right: 27px;
}

.settings__form_title {
  margin: 0 0 27px;
  font-size: 16px;
  font-weight: normal;
  line-height: 130%;
  color: #221B44;
}

.settings .main__checkbox_label::after {
  left: -33px;
}

.settings .pricing__select,
.settings .select2-container,
.settings .select2-selection__rendered {
  width: 72px !important;
}

.settings .main__submit {
  min-width: 204px;
}

/*---BALANCE---*/

.balance {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.balance .main__title {
  margin-bottom: 20px;
}

.balance__your_balance {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 25px;
}

.balance__show {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 215px;
  height: 110px;
  margin-right: 23px;
  padding: 22px 33px;
  box-sizing: border-box;
  background: #FAFAFA;
}

.balance__show_text {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #221B44;
  opacity: 0.7;
}

.balance__show_amount {
  margin: 0;
  font-size: 28px;
  line-height: 130%;
  color: #221B44;
}

.balance__attention_text {
  margin: 0;
  font-size: 14px;
  line-height: 130%;
  color: #221B44;
}

.balance__attention_text:not(:last-child) {
  margin: 0 0 19px;
}

.balance__attention_link {
  text-decoration: none;
  color: #7E64FE;
}

.balance__title {
  margin: 0 0 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #221B44;
}

.balance .main__form {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.balance__form_title {
  margin: 0 0 17px;
  font-size: 14px;
  line-height: 130%;
  color: #221B44;
}

.balance__amount {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.balance__amount_text {
  width: 270px;
  margin: 0;
  font-size: 13px;
  line-height: 130%;
  color: #221B44;
  opacity: 0.7;
}

.balance__amount .main__submit {
  min-width: 165px;
  margin-right: 25px;
}

.balance__amount .main__input {
  min-width: 235px;
  margin-right: 20px;
}

.balance__systems {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.balance__item_systems {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.balance__radio {
  display: none;
}

.balance__radio_label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 95px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
}

.balance__radio:checked + .balance__radio_label {
  border: 1px solid #7E64FE;
  background-color: rgba(126, 100, 254, 0.3);;
}

/*---HISTORY---*/

.history {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.history .main__title {
  margin-bottom: 20px;
}

.history__operation {
  width: 225px;
  padding-left: 28px;
}

.history__date {
  width: 125px;
}

.history__info {
  width: 200px;
}

.history__sum {
  width: 95px;
}

.history__balance {
  width: 100px;
}

.history__action {
  flex-grow: 1;
}

.history__type {
  width: 140px;
  padding-left: 34px;
}

.history__ip {
  width: 55px;
}

.history__socks {
  width: 65px;
}

.history__login {
  width: 95px;
}

.history__pas {
  width: 95px;
}

.history__coment {
  flex-grow: 1;
}

.history__tfoot .main__footer_row {
  justify-content: flex-end;
}

.history__tfoot .main__footer_col:first-child {
  margin-right: 36px;
}

.history__money_income {
  color: #1AB04D;
}

.history__money_costs {
  color: #E00101;
}

.history__tbody .history__action {
  padding-left: 30px;
}

.history__pop_up {
  justify-content: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: -300px;
  margin-left: -350px;
  width: 700px;
  min-height: 600px;
}

.history__pop_up .main__title {
  text-transform: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0px;
  color: #221B44;
}

.history__pop_up .main__table {
  margin-bottom: 20px;
}

.history__pop_up .main__submit {
  min-width: 122px;
}

/*---PARTNERSHIP---*/

.partnership {
  width: 840px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.partnership .main__title {
  margin-bottom: 23px;
}

.partnership__info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin-bottom: 27px;
}

.partnership__info .main__text:not(:) {
  margin: 0;
  font-size: 14px;
  line-height: 130%;
  color: #221B44;
  opacity: 0.7;
}

.partnership__info .main__text:not(:last-child) {
  margin: 0 0 17px;
}

.partnership__promocode {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 22px 33px 27px;
  background-color: #FAFAFA;
  margin-bottom: 25px;
}

.partnership__title {
  margin: 0 0 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #221B44;
  opacity: 0.7;
}

.partnership__promocode_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.partnership__promocode_item > .partnership__promocode_item {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  margin-bottom: 12px;
}

.partnership__promocode_item .main__input {
  width: 216px;
  box-sizing: border-box;
  margin-right: 20px;
  padding-right: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.partnership__promocode_item .main__submit {
  min-width: 130px;
}

.partnership__promocode_item .main__text {
  width: 330px;
}

.partnership__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 140%;
  color: #7E64FE;
}

.main__table .partnership__tbody {
  min-height: auto;
}

.main__table .partnership__tbody tr:last-of-type {
  font-weight: 500;
}

.partnership__date {
  width: 245px;
  box-sizing: border-box;
  padding-left: 30px;
}

.partnership__new_client {
  width: 230px;
}

.partnership__selling {
  width: 195px;
}

.partnership__income {
  flex-grow: 1;
}

.partnership__stat {
  margin-bottom: 30px;
}






/*---SELECT2---*/

/*.select2-container {
  font-size: 16px;
  width: 150px;
  border: none;
}*/

.select2-container .select2-selection--single {
  height: 24px;
  border: 1px solid #D9D9D9;
  padding-left: 6px;
  /*background: transparent;*/
  /*border: none;*/
}

.select2-container .select2-selection--single .select2-selection__rendered {
  height: 24px;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
}

.select2-dropdown {
  margin-top: 1px;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

/*.select2-dropdown--above {
  width: 100% !important;
}*/

/*.select2-dropdown--below {
  width: 100% !important;
}*/

.select2-results__option {
  border-radius: 0;
  padding-left: 14px;
}

.select2-results__options {
  padding: 5px 0;
  border-radius: 3px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #E6E6E6;
  color: #666666;
}

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[aria-selected="false"] {
  background-color: #ffffff;
  color: #666666;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #FAFAFA;
  color: #4D4D4D;
}

/*.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}*/

/*.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

.select2-search--dropdown {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 9px;
  height: 5px;
  position: absolute;
  top: calc(50% - 3px);
  right: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  height: 5px;
  width: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.146393 0.146461C-0.0487976 0.341713 -0.0487976 0.658302 0.146393 0.853554L3.68192 4.38911C3.70633 4.41352 3.7327 4.43485 3.76041 4.45316C3.9545 4.58131 4.21817 4.55994 4.38907 4.38911L7.92459 0.853584C8.1199 0.658302 8.1199 0.341743 7.92459 0.146461C7.7294 -0.04879 7.41275 -0.04879 7.21756 0.146461L4.03555 3.32847L0.853546 0.146461C0.658234 -0.0488205 0.341705 -0.0488205 0.146393 0.146461Z' fill='%23999999'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  height: 5px;
  width: 9px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border: none;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}








.display_none {
  display: none;
}
