@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700&display=swap&subset=cyrillic');

/*---OVERALL STYLE---*/

/** {outline: 1px solid red;}*/

body {
  margin: 0;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  line-height: 130%;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

/*---HEADER---*/

.header {
  background: linear-gradient(183.22deg, #7E64FE -17.54%, rgba(126, 100, 254, 0) 80.64%), rgb(0, 0, 0);
  margin-bottom: 30px;
}

.header__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.header__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__navigation_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__navigation_container li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 1px;
}

.header__icon-logo {
  margin-right: 10px;
  fill: #B3A4FF;
}

.header__icon {
  fill: #ffffff;
}

.header__logo,
.header__ip_link,
.header__balance_link,
.header__login_link,
.header__balance_button {
  text-decoration: none;
  color: #FFFFFF;
}

.header__ip {
  margin-right: 72px;
}

.header__balance {
  margin-right: 78px;
}

.header__balance_circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 5px solid  #7E64FE;
  margin-right: 11px;
}

.header__balance_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-right: 36px;
}

.header__balance_price {
  margin-left: 17px;
  font-weight: bold;
}

.header__balance_button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 9px 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: #7E64FE;
}

.header__login {
  margin-right: 31px;
}

.header__login_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__login_link .header__icon {
  margin-right: 14px;
}

.header__tuning {
  margin-right: 32px;
}

.header__tuning_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.header__logout {
  margin-right: 8px;
}

.header__logout_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

/*---LAYOUT---*/

.layout {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/*---NAV---*/

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 262px;
  margin-right: 30px;
}

.nav__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin: 0 0 27px;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  min-height: 50px;
  box-sizing: border-box;
  padding: 10px 24px 13px;
  margin-bottom: 1px;
  text-decoration: none;
  font-size: 15px;
  color: #444444;
  background: #F2F2F2;
}

.nav__icon {
  margin-right: 15px;
  fill: #B3A4FF;
}

.nav__question .nav__icon {
  margin-top: 3px;
  fill: #CCCCCC;
}

.nav__icon_pointer {
  transform: rotate(180deg);
  margin-left: auto;
  fill: #444444;
}

.nav__icon_rotate {
  transform: rotate(0);
}

.nav__buy {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 19px;
  padding: 20px 0 22px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: #7E64FE;
  color: #fff;
}

.nav__drop_out {
  display: none;
  margin: 0;
  padding: 8px 0 15px;
  list-style: none;
  background: #FCFCFC;
}

.nav__drop_out_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 22px 7px 56px;
  text-decoration: none;
  color: #221B44;
  background: #FCFCFC;
}

.nav__drop_out_link:hover {
  color: #7E64FE;
  background: #F7F7F7;
}

.nav__drop_out_link span {
  margin-left: auto;
  color: #221B44;
  opacity: 0.5;
}

.nav__question {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  text-decoration: none;
  font-size: 13px;
  color: #444444;
}

/*---MAIN---*/

.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-grow: 1;
}

/*---MY_PROXY---*/

.my_proxy {
  width: 100%;
}

.my_proxy__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.my_proxy__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.my_proxy__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-right: 49px;
  margin-top: 2px;
}

.my_proxy__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: #666666;
}

.my_proxy__icon {
  fill: #CCCCCC;
}

.my_proxy__item .my_proxy__icon {
  margin-right: 9px;
}

/*___table base start___*/

.my_proxy__table {
  width: 100%;
  border: 1px solid #E6E6E6;
  border-collapse: collapse;
}

.my_proxy__table thead,
.my_proxy__table tbody,
.my_proxy__table tfoot,
.my_proxy__table tr,
.my_proxy__table th,
.my_proxy__table td {
  display: flex;
  box-sizing: border-box;
}

.my_proxy__table tr {
  width: 100%;
  justify-content: flex-start;
}

.my_proxy__table th,
.my_proxy__table td {
  -ms-align-items: center;
  align-items: center;
}

.my_proxy__table tbody {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 250px;
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}

.my_proxy__check {
  width: 50px;
  padding: 0;
  justify-content: center;
}

.my_proxy__country {
  width: 35px;
  padding: 0;
  justify-content: center;
}

.my_proxy__type {
  width: 105px;
  padding-left: 12px;
  justify-content: flex-start;
}

.my_proxy__ip {
  width: 55px;
  justify-content: center;
}

.my_proxy__socks {
  width: 80px;
  justify-content: center;
}

.my_proxy__login {
  width: 95px;
  justify-content: flex-start;
}

.my_proxy__pas {
  width: 90px;
  justify-content: flex-start;
}

.my_proxy__date {
  width: 85px;
  justify-content: flex-start;
}

.my_proxy__coment {
  width: 145px;
}

.my_proxy__action {
  flex-grow: 1;
}

/*___table base end___*/
/*___table all start___*/

.my_proxy__table_icon {
  fill: #999999;
}

.my_proxy__checkbox {
  display: none;
}

.my_proxy__checkbox:checked + .my_proxy__checkbox_label {
  background-color: #7E64FE;
}

.my_proxy__checkbox_label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
}

.my_proxy__checkbox_icon {
  display: none;
  fill: #ffffff;
}

.my_proxy__checkbox:checked + .my_proxy__checkbox_label > .my_proxy__checkbox_icon {
  display: block;
}

/*___table all end___*/
/*___table thead start___*/

.my_proxy__header_row {
  background-color: #F7F7F7;
}

.my_proxy__header_col {
  height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
  border-bottom: 1px solid #E6E6E6;
}

/*___table thead end___*/
/*___table tbody start___*/

.my_proxy__col {
  height: 44px;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  line-height: 140%;
  color: #333333;
  border-bottom: 1px solid #E6E6E6;
}

.my_proxy__tbody .my_proxy__date {
  font-weight: 500;
  color: #1AB04D;
}

.my_proxy__tbody .my_proxy__icon {
  margin-right: 10px;
  fill: #999999;
}

.my_proxy__tbody .my_proxy__socks {
  justify-content: center;
}

.my_proxy__tbody .my_proxy__coment {
  /*position: relative;*/
}

.my_proxy__coment_text {
  width: 130px;
  height: 35px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 14px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: none;
  border: none;
}

.my_proxy__coment_text:focus {
  border: 1px solid #B3A4FF;
  padding-left: 14px;
  padding: 9px 13px 0;
}

.my_proxy__coment_label {
  display: none;
}

.my_proxy__coment_text:not(:focus):hover + .my_proxy__coment_label {
  display: block;
  width: 210px;
  padding: 13px 15px 13px 22px;
  position: absolute;
 /* bottom: 35px;
  left: -27px;*/
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #FFFFFF;
}

.my_proxy__coment_text:not(:focus):hover + .my_proxy__coment_label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 100px;
  background: #FFFFFF;
  transform: rotate(-45deg);
}

.my_proxy__coment_off {
  visibility: hidden;
}

.my_proxy__footer_row {
  background-color: #F7F7F7;
}

.my_proxy__footer_col {
  height: 50px;
  padding: 0;
}



/*table * {outline: 1px solid red;}*/

